@model List<Movie>
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <div class="ais-InstantSearch">
            <div class="row">
       
                <div class="col-md-12">
                    <div class="right-panel">
                        <div class="row">
                          
                           
                            <div class="col-md-12">
                                <div class="iq-product-layout-grid">
                                    <div id="hits">
                                        <div class="ais-Hits iq-product">
                                            <ul class="ais-Hits-list iq-product-list">
                                               
                                          

                                                @foreach (var item in Model)
                                                {
                                                    <li key="17" class="ais-Hits-item iq-product-item iq-card">
                                                        <div class="text-center">
                                                            <a href="@Url.Action("Details","Home",new {Id = item.imdbID })">
                                                                <div class="h-56 d-flex align-items-center justify-content-center bg-white iq-border-radius-15">
                                                                    <img src="@item.Poster" align="left" alt="" width="150"  height="200">
                                                                </div>
                                                            </a>
                                                            <div class="card-body">
                                                                <div class="text-justify">
                                                                    <a href="javascript:void(0)">@item.Title</a>
                                                                    <p class="font-size-12 mb-0">@item.Genre </p>
                                                    
                                                                </div>
                                                                <div class="iq-product-action my-2">
  
                                                                    <p class="font-size-12 mb-0">@item.Plot </p>
                                                                    <p class="font-size-16 font-weight-bold float-right">@item.imdbRating</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                }


                                             
                                             
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                       
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>